@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<style>
    body {
        background-image: linear-gradient(to bottom right, #FCCE32, #FF2B5B);
        font-family: Roboto;
    }

    h1, h2, h3, p, span {
        color: white;
    }

    .background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/imagenes/fondo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: blur(5px);
    }
</style>

<div class="background-container"></div>
<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

